.sidebarWrapper {
  color: #fff;
  padding-left: 20px;
  padding-right: 25px;
}

.sidebarWrapper ul {
  margin-top: 30px;
}

.sidebarWrapper ul li {
  margin-top: 15px;
}

.sidebarWrapper ul li input {
  width: 20%;
}